# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
